In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df=pd.read_csv('covid_toy.csv')

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [8]:
x_train

    age  gender  fever   cough       city
58   23    Male   98.0  Strong     Mumbai
25   23    Male    NaN    Mild     Mumbai
50   19    Male  101.0    Mild      Delhi
39   50  Female  103.0    Mild    Kolkata
93   27    Male  100.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
8    19  Female  100.0  Strong  Bangalore
51   11  Female  100.0  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata
82   24    Male   98.0    Mild    Kolkata
48   66    Male   99.0  Strong  Bangalore

[80 rows x 5 columns]

In [9]:
jk=SimpleImputer()
x_train_fever=jk.fit_transform(x_train[['fever']])
x_test_fever=jk.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [13]:
oe=OrdinalEncoder()

In [14]:
x_train_cough=oe.fit_transform(x_train[['cough']])
x_test_cough=oe.fit_transform(x_test[['cough']])
x_train_cough.shape

(80, 1)

In [16]:
ohe=OneHotEncoder(drop='first',sparse_output=True)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [17]:
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values
x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values
x_train_age.shape

(80, 1)

In [ ]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
x_testtransformed=np.conctenate((x_test_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [ ]:
x_train_transformed

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
transformer=ColumnTransformer(transformers=[
    ('tn1',SimpleImputer(),['fever']),
    ('tn2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tn3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [ ]:
transformer.fit_transform(x_train)
transformer.fit_transform(x_test)