In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('train.csv',usecols=['Age','Survived','Fare'])

In [3]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
df.isnull().mean()*100

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [5]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [7]:
x_train

      Age      Fare
30   40.0   27.7208
10    4.0   16.7000
873  47.0    9.0000
182   9.0   31.3875
876  20.0    9.8458
..    ...       ...
534  30.0    8.6625
584   NaN    8.7125
493  71.0   49.5042
527   NaN  221.7792
168   NaN   25.9250

[712 rows x 2 columns]

In [8]:
x_train['age_imputed']=x_train['Age']
x_test['age_imputed']=x_train['Age']

In [9]:
x_train.tail()

      Age      Fare  age_imputed
534  30.0    8.6625         30.0
584   NaN    8.7125          NaN
493  71.0   49.5042         71.0
527   NaN  221.7792          NaN
168   NaN   25.9250          NaN

In [10]:
x_train['age_imputed'][x_train['age_imputed'].isnull()]=x_train['Age'].dropna().sample(x_train['Age'].isnull().sum()).values
x_test['age_imputed'][x_test['age_imputed'].isnull()]=x_train['Age'].dropna().sample(x_test['Age'].isnull().sum()).values

ValueError: cannot set using a list-like indexer with a different length than the value

In [ ]:
x_train['Age'].dropna().sample(x_train['Age'].isnull().sum()).values

In [ ]:
x_train['Age'].isnull().sum()

In [ ]:
x_train

In [ ]:
sns.distplot(x_train['Age'],label='Original',hist=False)
sns.distplot(x_train['age_imputed'],label='imputed',hist=False)
plt.legend()
plt.show()

In [ ]:
print('original variance',x_train['Age'].var())
print('random_imputed data variance',x_train['age_imputed'].var())

In [ ]:
x_train[['Age','age_imputed','Fare']].cov()

In [ ]:
x_train[['Age','age_imputed']].boxplot()

In [ ]:
sampled_value = x_train['Age'].dropna().sample(1,random_state=int(observation['Fare']))

In [ ]:
data=pd.read_csv('house-train.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [ ]:
data.head()

In [ ]:
data.isnull().mean()

In [ ]:
x=data
y=data['SalePrice']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
x_train['garagequal_imputed']=x_train['GarageQual']
x_test['garagequal_imputed']=x_train['GarageQual']

x_train['fireplacequ_imputed']=x_train['FireplaceQu']
x_test['fireplacequ_imputed']=x_test['FireplaceQu']

In [ ]:
x_train.sample()

In [ ]:
x_train['garagequal_imputed'][x_train['garagequal_imputed'].isnull()]=x_train['GarageQual'].dropna().sample(x_train['GarageQual'].isnull().sum()).values
sample(x_train['GarageQual'].isnull().sum()).values

In [ ]:
df=pd.read_csv('train.csv',usecols=['Age','Survived','Fare'])

In [ ]:
df.head()

In [ ]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
x_train.head()

In [ ]:
from sklearn.impute import MissingIndicator,SimpleImputer

In [ ]:
si=SimpleImputer()
x_train_trf=si.fit_transform(x_train)
x_test_trf=si.fit_transform(x_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train_trf,y_train)
y_pred=clf.predict(x_test_trf)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

In [ ]:
mi =MissingIndicator()
mi.fit(x_train)

In [ ]:
x_train_missing=mi.transform(x_train)
x_test_missing=mi.transform(x_test)

In [ ]:
x_train['Age_NA']=x_train_missing
x_test['Age_NA']=x_test_missing

In [ ]:
x_train

In [ ]:
si=SimpleImputer()
x_train_trf2=si.fit_transform(x_train)
x_test_trf2=si.transform(x_test)

In [ ]:
clf2=LogisticRegression()
clf2.fit(x_train_trf2,y_train)
y_pred=clf2.predict(x_test_trf2)
accuracy_

In [ ]:
si=SimpleImputer(add_indicator=True)
x_train=si.fit_transform(x_train)
x_test=si.transform(x_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train_trf2,y_train)
y_pred=clf.predict(x_test_trf2)
accuracy_score(y_test,y_pred)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression

In [ ]:
df=pd.read_csv('train.csv')

In [ ]:
df.head()

In [ ]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [11]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500